doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    link(rel='stylesheet', href='../stylesheets/main.css')
    title Bienvenue sur T'Challah
    link(href='https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap', rel='stylesheet')
    
  body
    header
      .containermenu
        .logo
          a(href='http://www.tchalla.ga/')  T'Challah
          
        nav
          ul
            li
              a(href='/cours') Cours
            li
              a(href='/prof') Professeurs
            li
              a(href='/horaire') Horaire
            li
              a(href='/forum') Forum
            li  
              a(href='/ressources') Ressources
            li
              a(href='/seconnecter') Se connecter
            li 
              a(href='/sinscrire') S'inscrire
          

    block content